@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: Nunito, sans-serif;
    margin: 0;
    text-align: center;
    background-color: #b2bec3;
}

main {
    width: 700px;
    margin: 75px auto;
    display: flow-root;
    text-align: left;
}

main > img {
    width: 150px;
    height: 150px;
    float: right;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 3px grey;
    background-color: white;
}
main > div {
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    margin: 75px;
    padding: 30px;
    background-color: white;
}

main > div > h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}
main > div > a {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

main > div > :first-child {
    margin-top: 0;
}
main > div > :last-child {
    margin-bottom: 0;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #d63031;
}
p {
    font-size: 18px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
}

a.github {
    background-color: #1F2328;
    color: white;
}
a.github:hover,
a.github:active {
    background-color: #0969da;
}
a.linkedin {
    background-color: #0a66c2;
    color: white;
}
a.linkedin:hover,
a.linkedin:active {
    background-color: #8443ce;
}
